footer.footer 
	.section_in
		.footer_main_w 
			.footer_top 
				.footer_logo 
					a(href="#") Топ реальных магов
				.footer_contact 
					.footer_email 
						a(href="#") sms@top-real-magic.ru
					.footer_btn_phone.standart-btn 
						a(href="#")
							.footer_btn_icon.btn_icons 
								+icon('phone')
							p 8 982-749-49-98
			.footer_bottom 
				.footer_copyright © Все права защищены, 2022
				.footer_col_right 
					.footer_policy 
						a(href="#") Политика конфиденциальности
					.footer_arkada_brand 
						a(href="#")
							p Разработано arkada-web.ru
							.footer_arkada_logo 
								img(src="i/global/favicon.png", alt="")