.header {
	position: absolute;
	top: 0;
	left: 0;
	height: $header;
	width: 100%;
	will-change: transform;
	@include z-index(header);
	
	@include bp($point_5) {
		height: $header_mob
	}
}

.header {
}
.section_in {
}
.header_row {
	padding: 3rem 0;
	@include bp($point_2) {
		padding: 2rem 0;
		border-bottom: .1rem solid rgba(255, 255, 255, 0.151);
	}
}
.header_row, .header_col_left {
	@include flex-space;
}
.header_logo {
	margin-right: 8rem;
	@include bp($point_2) {
		margin-right: 4rem;
	}
	a {
		display: flex;
		font-family: $font_3;
		text-transform: uppercase;
		@include bp($point_2) {
			font-size: 1.8rem;
		}
	}
}
.header_nav {
	@include bp($point_2) {
		display: none;
	}
}
.header_nav_list {
	@include flex-start;
	margin-right: 10rem;
	li {
		a {
			color: $white;
			font-size: 1.6rem;
			transition: all .3s ease;
			&:hover {
				opacity: .7;
			}
		}
		&:not(:last-child) {
			margin-right: 5rem;
		}
	}
}
.header_phone_link {
	border-radius: 1.5rem;
	overflow: hidden;
	@include bp($point_2) {
		margin-right: 4rem;
	}
	a {
		@include border_btn;
		@include bp($point_2) {
			border: none;
			padding: 0;
		}
		p {
			@include bp($point_2) {
				display: none;
			}
		}
	}
}
.header_phone_icon {
	@include bp($point_2) {
		margin-right: 0!important;
	}
}
.icon {
}
.icon-phone {
}

.burger_trigger {
	width: 3rem;
	height: 2.2rem;
	position: relative;
	display: none;
	@include bp($point_2) {
		display: block;
	}
	span {
		display: flex;
		width: 100%;
		height: .3rem;
		background-color: $gold;
		position: absolute;
		top: 0;
		right: 0;
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
			width: 75%;
		}
		&:nth-child(3) {
			top: auto;
			bottom: 0;
			width: 55%;
		}
	}
}
.header_col_right {
	@include flex-end;
}