.hero {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../../i/smoke.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom center;
		z-index: 2;
	}
	padding-bottom: 10.1rem;
	@include bp($point_2) {
		margin-bottom: 5rem;
	}
}
.hero_bg {
	position: absolute;
	top: - $header;
	@include bp($point_2) {
		top: 50%;
		transform: translateY(-50%);
		height: 50rem;
		left: -100%;
		opacity: .5;
	}
	img {
		@include bp($point_2) {
			object-fit: cover;
		}
	}
}
.section_in {
}
.hero_row {
	max-width: 73.4rem;
	padding: 16.6rem 0 37.4rem 0;
	position: relative;
	z-index: 3;
	@include bp($point_2) {
		padding: 8rem 0;
	}
}
.hero_title {
	h1 {
		color: $gold;
	}
	margin-bottom: 6rem;
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
}
.hero_btn_link {
	@include default_btn;
	a {
		text-transform: uppercase;
		background-color: $gold;
		font-family: $font_4;
		color: $black;
	}
}
.standart-btn {
}
.catalog {
	position: relative;
}
.catalog_bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	@include z-index(el);
}
.catalog_main {
	margin-bottom: 18rem;
	@include bp($point_2) {
		margin-bottom: 8rem;
	}
}
.catalog_title {
	text-align: center;
	margin-bottom: 10rem;
	@include bp($point_2) {
		margin-bottom: 5rem;
	}
	h2 {
		color: $gold;
		font-size: 5.5rem;
		text-transform: uppercase;
		@include bp($point_2) {
			font-size: 2.6rem;
		}
	}
}
.catalog_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
	grid-gap: 9rem 3rem;
	@include bp($point_2) {
		grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
		grid-gap: 5rem 2rem;
	}
	@include bp($point_5) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		grid-gap: 4rem 2rem;
	}
	&>li {
		background: linear-gradient(202.22deg, rgba(255, 255, 255, 0) -2.82%, rgba(255, 255, 255, 0.05) 53.49%, rgba(255, 255, 255, 0) 98.6%);
		border: .1rem solid rgba(200, 174, 123, 0.3);
		border-radius: 21rem 21rem 2rem 2rem;
		padding: 5rem 4.1rem 4rem 4.5rem;
		@include bp($point_2) {
			border-radius: 2rem;
			padding: 2rem;
		}
	}
}
.catalog_item {
}
.catalog_img {
	width: 30rem;
	height: 30rem;
	@include flex-center;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto 3rem auto;
	@include bp($point_2) {
		border-radius: 2rem;
		width: 100%;
		height: 30rem;
	}
	img {
		object-fit: cover;
	}
}
.catalog_item_content {
}
.catalog_item_title {
	position: relative;
	display: inline-flex;
	h3 {
		font-size: 2.2rem;
		text-transform: uppercase;
		@include bp($point_2) {
			font-size: 1.6rem;
		}
	}
	margin-bottom: 2rem;
	@include bp($point_2) {
		margin-bottom: 1.2rem;
	}
}
.catalog_item_vip {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: calc(100% + 1.5rem);
	font-size: 1.8rem;
	color: $gold;
	font-family: $font_4;
	@include bp($point_2) {
		font-size: 1.4rem;
	}
}
.catalog_item_txt {
	margin-bottom: 3rem;
	p, ul, ol, span {
		font-size: 1.6rem;
		@include bp($point_2) {
			font-size: 1.4rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	li {
		font-size: 1.6rem;
		@include bp($point_2) {
			font-size: 1.4rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
.catalog_item_phone {
	margin-bottom: 2.6rem;
	a {
		@include flex-start;
		font-size: 2.2rem;
		@include bp($point_2) {
			font-size: 1.8rem;
		}
	}
}
.catalog_item_icon {
	margin-right: 1rem;
}
.btn_icons {
}
.icon {
}
.icon-phone {
}
.catalog_item_allstar {
	@include flex-space;
	margin-bottom: 4rem;
	@include bp($point_2) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.item_star_list {
	@include flex-start;
	@include bp($point_2) {
		margin-bottom: 2rem;
	}
	li {
		@include flex-center;
		width: 2.3rem;
		color: $gold;
		@include bp($point_2) {
			width: 1.8rem;
		}
		&:not(:last-child) {
			margin-right: 1rem;
			@include bp($point_2) {
				margin-right: 0.6rem;
			}
		}
	}
}
.item_star {
}
.icon-star {
}
.item_reviews_counter {
	font-size: 1.6rem;
	border-bottom: .1rem solid $white;
	transition: all .3s ease;
	@include bp($point_2) {
		font-size: 1.4rem;
		display: block;
	}
	&:hover {
		border-bottom: .1rem solid transparent;
	}
}
.catalog_item_link {
	@include default_btn;
	width: 100%;
	a {
		width: 100%;
	}
}
.path {
	position: relative;
}

.path_bg {
	position: absolute;
	top: 0;
	left: -2%;
	width: 102%;
	height: 100%;
	@include bp($point_2) {
		opacity: .4;
	}

	img {
		object-fit: cover;
	}
}
.path_main {
	text-align: center;
	padding-bottom: 25.6rem;
	margin-bottom: -8.8rem;
	@include bp($point_2) {
		padding-bottom: 10rem;
		margin-bottom: 0;
	}
}
.path_title {
	max-width: 55.3rem;
	margin: 0 auto 10rem auto;
	position: relative;
	z-index: 3;
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
	h3 {
		color: $gold;
		font-size: 5rem;
		font-family: $font_2;
		text-transform: uppercase;
		@include bp($point_2) {
			font-size: 2.6rem;
		}
	}
}
.path_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(41.3rem, 1fr));
	grid-gap: 7rem 36rem;
	margin-bottom: 8.8rem;
	text-align: left;
	@include bp($point_2) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		grid-gap: 2rem;
		margin-bottom: 4rem;
	}
	li {
		border: .1rem solid #C8AE7B00;
		&:nth-child(3) {
			margin: 0 6.7rem 0 -6.7rem;
			@include bp($point_2) {
				margin: 0;
			}
		}
		&:nth-child(4) {
			margin: 0 -6.7rem 0 6.7rem;
			@include bp($point_2) {
				margin: 0;
			}
		}
	}
}
.path_item_grid {
}
.path_item {
	position: relative;
	@include flex-start;
	align-items: flex-start;
	padding: 2.9rem 4rem 2.9rem 4.5rem;
	min-height: 10.8rem;
	z-index: 2;
	max-width: 41.3rem;
	@include bp($point_2) {
		max-width: 100%;
		flex-direction: column;
		padding: 2rem;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.2) 39.52%, rgba(255, 255, 255, 0) 110.6%);
		@include z-index(el)
	}
}
.path_item_icon {
	width: 2.2rem;
	@include flex-center;
	margin-right: 2rem;
	@include bp($point_2) {
		margin: 0 0 2rem 0;
	}
}
.path_item_txt {
	font-size: 1.8rem;
	max-width: 28rem;
	@include bp($point_2) {
		font-size: 1.6rem;
	}
}
.path_btn_link {
	@include default_btn;
	position: relative;
	display: inline-flex;
	z-index: 3;
	@include bp($point_2) {
		width: 100%;
	}
	a {
		text-transform: uppercase;
		background-color: $gold;
		font-family: $font_4;
		color: $black;
		padding: 2.8rem 10.4rem;
		@include bp($point_2) {
			padding: 2rem 5rem;
			width: 100%;
		}
	}
}
.video {
}
.video_main {
}
.video_title {
	position: relative;
	z-index: 3;
	max-width: 89.3rem;
	margin-bottom: 3.8rem;
	h4 {
		font-size: 5.5rem;
		color: $gold;
		text-transform: uppercase;
		font-family: $font_2;
		@include bp($point_2) {
			font-size: 2.6rem;
		}
	}
}
.video_slider_w {
	margin-bottom: 18rem;
	@include bp($point_2) {
		margin-bottom: 8rem;
	}
}
.video_slider_nav {
	@include flex-end;
	margin-bottom: 4rem;
	@include bp($point_2) {
		display: none;
	}
	div {
		@include flex-center;
		width: 2.2rem;
		button {
			@include flex-center;
			color: $gold;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		&:first-child {
			margin-right: 8.3rem;
		}
 		&:last-child {
			button {
				transform: rotate(180deg);
			}
		}
	}
}
.video_slide_prev {
}
.icon-slider {
}
.video_slide_next {
}
.video_slider {
	margin-bottom: 6rem;
	@include bp($point_2) {
		margin-bottom: 3rem;
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.video_slide_w {
	position: relative;
}
.video_slide {
	border-radius: 2rem;
	overflow: hidden;
	position: relative;
	user-select: none;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: rgba(2, 16, 32, 0.5);
		pointer-events: none;
	}
}

.video_link {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	transition: all .3s ease;
	&:hover {
		opacity: .7;
	}
	a {
		width: 100%;
		height: 100%;
		@include flex-center;
	}
	button {
		width: 7.5rem;
		@include flex-center;
		transition: all .3s ease;
		&:hover {
			transform: scale(1.2);
		}
	}
}
.video_block {
}
.video_pug {
	position: static;
	justify-content: center;
	display: flex;
	.swiper-pagination-bullet {
		width: 1rem;
		height: 1rem;
		background-color: #56606A;
		&:not(:last-child) {
			margin-left: 0!important;
			margin-right: 4rem!important;
			@include bp($point_2) {
				margin-right: 1rem!important;
			}
		}
		&-active {
			background-color: $gold;
		}
	}
}
.scope {
}
.scope_title {
	text-align: center;
	margin-bottom: 8rem;
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
	h4 {
		font-size: 5.5rem;
		font-family: $font_2;
		color: $gold;
		font-weight: 400;
		@include bp($point_2) {
			font-size: 2.6rem;
		}
	}
}
.scope_list_head {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
	grid-gap: 2rem;
	width: 100%;
	margin-bottom: 10rem;
	@include bp($point_2) {
		@include flex-start;
		flex-wrap: nowrap;
		flex-direction: row;
		overflow-x: scroll;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
	}
	li {
		@include default_btn;
		@include bp($point_2) {
			white-space: nowrap;
			width: 100%;
			overflow: visible;
		}
		&.active_tab {
			a {
				background-color: $gold;
				color: $dark;
			}
		}
		a {
			padding: 2.5rem 6rem;
			font-size: 1.6rem;
			width: 100%;
		}
	}
}
.scope_item {
}
.scope_list_content {
}
.scope_items_body {
	&:not(:first-child) {
		display: none;
	}
}
.scope_item_title {

	h5 {
		font-size: 3rem;
		font-family: $font_4;
		color: $gold;
		text-transform: uppercase;
		@include bp($point_2) {
			font-size: 2.2rem;
		}
	}
	margin-bottom: 4rem;
	@include bp($point_2) {
		margin-bottom: 2rem;
	}
}
.scope_item_content {
	font-size: 1.8rem;
	p, ul, ol, span {
		font-size: 1.6rem;
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	li {
		font-size: 1.6rem;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
.about {
	position: relative;
}
.about_main {
	@include flex-start;
	padding: 28.6rem 0 20rem 0;
	@include bp($point_2) {
		padding: 8rem 0;
		flex-direction: column;
	}
}
.about_img {
	width: 50rem;
	border-radius: 26.5rem 26.5rem 2rem 2rem;
	margin-right: 8rem;
	overflow: hidden;
	@include bp($point_2) {
		width: 100%;
		border-radius: 2rem;
		margin: 0 0 2rem 0;
	}
	img {
		object-fit: cover;
	}
}
.about_content {
	max-width: 74rem;
}
.about_title {
	margin-bottom: 3rem;
	h6 {
		font-size: 5.5rem;
		color: $gold;
		text-transform: uppercase;
		font-family: $font_2;
		@include bp($point_2) {
			font-size: 2.6rem;
		}
	}
}
.about_content_txt {
	font-size: 1.8rem;
	margin-bottom: 6rem;
	@include bp($point_2) {
		margin-bottom: 3rem;
	}
	p, ul, ol, span {
		font-size: 1.6rem;
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	li {
		font-size: 1.6rem;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}
.about_content_data {

	ul {
		@include flex-start;
		@include bp($point_2) {
			flex-direction: column;
			align-items: flex-start;
		}
		li {
			&:not(:last-child) {
				margin-right: 7.1rem;
				@include bp($point_2) {
					margin: 0 0 2rem 0;
				}
			}
			a {
				@include flex-start;
				transition: all .3s ease;
				&:hover {
					color: $white;
				}
				.btn_icons {
					margin-right: 1.5rem;
				}
			}
		}
	}
}

.about_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include z-index(el);
}
.about_item_icon {
}