// variables,mixins,extends
@import "helpers/helpers_all";
@import "family";

// base
@import "reset";
@import "fonts";
@import "base";
@import "main";

// templates
@import "templates/header";
@import "templates/footer";
@import "templates/popup";
@import "templates/succes";
@import "templates/close";


// icons
@import "icons";
@import "sprite";

// Page

@import "page/home";
@import "page/single";
@import "page/policy";

// plugins
@import "plugins/swiper-bundle";
// @import "plugins/plyr";
@import "plugins/fancybox";
// @import "plugins/simplebar";
