.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-phone {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-play {
	font-size:(75/10)*1rem;
	width:(75/75)*1em;
}
.icon-slider {
	font-size:(22/10)*1rem;
	width:(13/22)*1em;
}
.icon-star {
	font-size:(22/10)*1rem;
	width:(23/22)*1em;
}
.icon-top {
	font-size:(63/10)*1rem;
	width:(42/63)*1em;
}
