extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Single Magic'}
block content_block
	section.singleHero
		.single_bg 
			img(src="i/single_bg.png", alt="")
		.section_in 
			.singleHero_main 
				.singleHero_left 
					.singleHero_img 
						img(src="i/single.jpg", alt="")
					ul.item_star_list 
						-for(i = 0; i < 5; i++)
							li.item_star(data-single=i)
								+icon('star')
					.singleHero_left_info 
						ul 
							li.standart-btn 
								a(href="#")
									.btn_icons 
										+icon('phone') 
									p Написать в Whatsapp
							li.standart-btn 
								a(href="#")
									.btn_icons 
										+icon('phone') 
									p +7 961 542 08 46
				.singleHero_right 
					.singleHero_right_content 
						.single_title 
							h1 Софья Николаевна
							.single_vip VIP
						.singleHero_content_txt 
							p Сильней̆шая Ясновидящая Софья Николаевна Одна из самых сильнейших магов России, ведёт приём Онлайн По всему миру Обладающие всеми видами магий!
							p Моментальный приворот без греха, приворот на скорый брак, привлечение удачного жениха, возвращение любимого человека, отворот, рассорка, спасение семьи от развода, восстановление семьи, возвращение любимого или любимой, обряд на верность. Гадание предсказание судьбы.
							ul 
								li Ответы на любые вопросы!
								li Гадание на картах!
								li Литью судьбы воском!
								li Корректировка судьбы!
								li Чистки!
								li Снятие порчи!
								li Избавляет от пьянства!
								li Обряд на похудении!
								li Снятие порчи,сглаза проклятия!
								li Избавит от одиночества!
								li Снятия винца безбрачия!
								li Защита от завистников!
								li Защита на детей!
							p Работает в разных направлениях и с Православными, и с мусульманами. Участвовали самые сильные мастера магии Битвы Экстрасенсов!
	section.reviews 
		.section_in 
			.reviews_main 
				.reviews_head 
					.reviews_title 
						h2 отзывы
					.reviews_ask_btn.standart-btn 
						button Оставить отзыв
				.reviews_body 
					ul.reviews_list
						li.reviews_item
							.reviews_item_name 
								h3 Юрий С. Екатеринбург
							.reviews_item_txt 
								p Мне гадалка Софья Аваддор помогла сохранить семью. Было бы смешно, но хотелось плакать. 16 лет женаты, трое детей. Я хоть «дальнобойщик», но надолго из дома не уезжаю, максимум дня на 3. Но и этого, оказывается, хватило! Мою Юлечку как подменили – меня возненавидела. Кума сказала, что есть сильная гадалка. Софья Аваддор только сделала расклад – все сразу поняла. Змей-разлучник вполз в наш дом. Но теперь благодаря Марии  все хорошо!
							.reviews_item_star
								ul.item_star_list 
									-for(i = 0; i < 5; i++)
										li.item_star(data-reviews=i)
											+icon('star')
						li.reviews_item
							.reviews_item_name 
								h3 Юрий С. Екатеринбург
							.reviews_item_txt 
								p Мне гадалка Софья Аваддор помогла сохранить семью. Было бы смешно, но хотелось плакать. 16 лет женаты, трое детей. Я хоть «дальнобойщик», но надолго из дома не уезжаю, максимум дня на 3. Но и этого, оказывается, хватило! Мою Юлечку как подменили – меня возненавидела. Кума сказала, что есть сильная гадалка. Софья Аваддор только сделала расклад – все сразу поняла. Змей-разлучник вполз в наш дом. Но теперь благодаря Марии  все хорошо!
							.reviews_item_star
								ul.item_star_list 
									-for(i = 0; i < 5; i++)
										li.item_star(data-reviews=i)
											+icon('star')
						li.reviews_item
							.reviews_item_name 
								h3 Юрий С. Екатеринбург
							.reviews_item_txt 
								p Мне гадалка Софья Аваддор помогла сохранить семью. Было бы смешно, но хотелось плакать. 16 лет женаты, трое детей. Я хоть «дальнобойщик», но надолго из дома не уезжаю, максимум дня на 3. Но и этого, оказывается, хватило! Мою Юлечку как подменили – меня возненавидела. Кума сказала, что есть сильная гадалка. Софья Аваддор только сделала расклад – все сразу поняла. Змей-разлучник вполз в наш дом. Но теперь благодаря Марии  все хорошо!
							.reviews_item_star
								ul.item_star_list 
									-for(i = 0; i < 5; i++)
										li.item_star(data-reviews=i)
											+icon('star')
					


